# File Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
*.so
*.egg-info/
.eggs/

# Môi trường ảo
.venv/
venv/
env/

# Nhật ký Django
*.log
local_settings.py
media/

# Cơ sở dữ liệu
*.sqlite3

# File biến môi trường
.env
.env.*
!.env.mysql.example

# Công cụ soạn thảo / IDE
.vscode/
.idea/
*.swp

# Hệ điều hành
.DS_Store
Thumbs.db

# Kiểm thử / độ bao phủ
.pytest_cache/
.coverage
htmlcov/

#Bo qua tmp
.tmp/
